{% extends 'base.html' %}
{% block main %}
<div class="list-holder">
  <ul class="list-group">
    <li class="list-group-item dd-list-item__on"><span></span>Cras justo odio
      <a href="#" class="phone"><i class="fa fa-phone"></i></a>
    </li>
    <li class="list-group-item dd-list-item__on"><span></span>Dapibus ac facilisis in
      <a href="#" class="phone"><i class="fa fa-phone"></i></a>
    </li>
    <li class="list-group-item dd-list-item__on"><span></span>Morbi leo risus
      <a href="#" class="phone"><i class="fa fa-phone"></i></a>
    </li>
    <li class="list-group-item dd-list-item__off"><span></span>Porta ac consectetur ac
      <a href="#" class="phone"><i class="fa fa-phone"></i></a>
    </li>
    <li class="list-group-item dd-list-item__off"><span></span>Vestibulum at eros
      <a href="#" class="phone"><i class="fa fa-phone"></i></a>
    </li>
  </ul>
</div>
<form method="POST">
  <input type="submit" class="fab fab-sos" value="SOS"/>
</form>
{% endblock %}
