{% extends 'base.html' %}

{% block eventactive1 %}
active
{% endblock %}
{% block eventactive2 %}
<span class="sr-only">(current)</span>
{% endblock %}
{% block main %}
{% if events['now'] %}
<h4 class="title">Now</h4>
<ul class="cards-holder">
  {% for event in events['now'] %}
  <li class="card" style="width: 18rem;">
    <img class="card-img-top" src=".../100px160/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{event.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Start: {{event.start_time.strftime('%b. %e, %Y at %-I:%M %p')}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">End: {{event.end_time.strftime('%b. %e, %Y at %-I:%M %p')}}</h6>
      <a href="/{{event.id}}" class="card-link">Join</a>
    </div>
  </li>
  {% endfor %}
</ul>
{% endif %}

{% if events['upcoming'] %}
<h4 class="title">Upcoming</h4>
<ul class="cards-holder">
  {% for event in events['upcoming'] %}
  <li class="card" style="width: 18rem;">
    <img class="card-img-top" src=".../100px160/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{event.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Start: {{event.start_time.strftime('%b. %e, %Y at %-I:%M %p')}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">End: {{event.end_time.strftime('%b. %e, %Y at %-I:%M %p')}}</h6>
      <a href="/{{event.id}}" class="card-link">Join</a>
    </div>
  </li>
  {% endfor %}
</ul>
{% endif %}




<!-- Button trigger modal -->
<div class="fab" data-toggle="modal" data-target="#newEvent">+</div>

<!-- Modal -->
<div class="modal fade" id="newEvent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="newevent" method="post">
          <div class="form-group">
            <label for="eventname">Event Name</label>
            <input type="text" name="eventname" class="form-control" id="eventname" placeholder="Bobby's Juice Kegger">
          </div>
          <div class="row">
            <div class="col">
              <label for="s-time">Start Time</label>
              <input type="text" name="s-time" class="form-control" id="s-time">
            </div>
            <div class="col">
              <label for="e-time">End Time</label>
              <input type="text" name="e-time" class="form-control" id="e-time">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input class="btn btn-primary" value="Submit" type="submit" form="newevent" />
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block js %}
  <script>
    $(function () {
      $('#s-time').datetimepicker();
      $('#e-time').datetimepicker();
    });
  </script>
{% endblock %}
